body{
	display: flex;
}
div{
	width: 200px;
	height: 200px;
}
#Zgoraj{
	background-color: blue;
	margin-left: 200px;
}
#Levo{
	background-color: green;
	margin-top: 200px;
	margin-left: -400px;
}
#Center{
	background-color: red;
	margin-top: 200px;
}
#Desno{
	background-color: purple;
	margin-top: 200px;
}